#leftAudioCutter {
  position: absolute;
  z-index: 9;
  background-color: blue;
  text-align: center;
  border: 2px solid #d3d3d3;
  cursor: e-resize;
  height: 100px;
  width: 18px;
  border-radius: 10px 0px 0px 10px;
  left: 0px;
}

#rightAudioCutter {
  position: absolute;
  z-index: 9;
  background-color: blue;
  text-align: center;
  border: 2px solid #d3d3d3;
  cursor: e-resize;
  height: 100px;
  width: 18px;
  border-radius: 0px 10px 10px 0px;
  right: 0px;
}

#audioCuttingWindow {
  background: rgba(177, 47, 47, 0.54);
  position: relative;
  padding-left: 22px;
  padding-right: 22px;
}

#cutWindow {
  position: absolute;
  background-color: rgba(85, 117, 246, 0.59);
  height: 100%;
  width: 100px;
  left: 18px;
}

#mydivheader {
  padding: 10px;

  z-index: 10;
  background-color: #2196f3;
  color: #fff;
}
