body {
  background-color: black;
  background-image: url("http://api.thumbr.it/whitenoise-1920x1080.png?background=1a1a1aff&noise=626262&density=82&opacity=15");
  font-size: 0.85em !important;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
#leftAudioCutter {
  position: absolute;
  z-index: 9;
  background-color: rgb(51, 51, 51);
  text-align: center;
  border: 2px solid rgb(250, 184, 1);
  cursor: e-resize;
  height: 100px;
  width: 18px;
  border-radius: 10px 0px 0px 10px;
  left: 0px;
}

#rightAudioCutter {
  position: absolute;
  z-index: 9;
  background-color: rgb(51, 51, 51);
  text-align: center;
  border: 2px solid rgb(250, 184, 1);
  cursor: e-resize;
  height: 100px;
  width: 18px;
  border-radius: 0px 10px 10px 0px;
  right: 0px;
}

#audioCuttingWindow {
  background: rgb(112, 112, 112);
  position: relative;
  padding-left: 22px;
  padding-right: 22px;
  border-radius: 10px;
}

#cutWindow {
  position: absolute;
  background-color: rgba(145, 154, 190, 0.432);
  height: 100%;
  width: 100px;
  left: 18px;
}

#mydivheader {
  padding: 10px;

  z-index: 10;
  background-color: #2196f3;
  color: #fff;
}

#audio2DControls {
  margin-left: 5%;
  margin-right: 5%;
}

#audio3DControls {
}

.block {
  /*display: inline-block;
  vertical-align: top;*/
  border: 1px solid rgb(250, 184, 1);
}

ul {
  list-style-type: none;
}

ul,
li {
  margin: 0;
  padding: 0;
}

.tabs {
  width: 100%;
}
.tabs-nav li {
  float: left;
  width: 50%;
}
.tabs-nav li:first-child a {
  border-right: 1px solid rgb(250, 184, 1);
}
/*
.tabs-nav li:last-child a {
  color: #ff7b29;
}
*/
a {
  background: #3a3a3a;
  border-top: 1px solid rgb(250, 184, 1);
  border-bottom: 1px solid rgb(250, 184, 1);
  color: white;
  display: block;
  font-weight: 600;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
}
a:hover {
  color: rgb(250, 184, 1);
}
.tab-active a {
  background: #575757;
  border-bottom-color: transparent;
  color: rgb(250, 184, 1);
  cursor: default;
}
.tabs-stage {
  border-top: 1px solid rgb(250, 184, 1);
  border-bottom: 1px solid rgb(250, 184, 1);
  border-top: 0;
  clear: both;
  padding: 12px 12px;
  position: relative;
  top: -1px;
}

button:hover {
  background-color: #575757;
  color: rgb(250, 184, 1);
}

button {
  color: white;
  padding: 0.5em;
  margin: 1em auto;
  background-color: #3a3a3a;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.controls {
  padding-left: 12px;
}

.xspan {
  color: red;
}

.yspan {
  color: lawngreen;
}

.zspan {
  color: blue;
}

.line {
  border-top: 1px solid rgb(250, 184, 1);
  border-left: 0;
  border-bottom: 0;
  border-right: 0;
}

.post-wrapper {
  width: 75vw;
  margin: auto;
}
.post {
  display: flex;
  background: #3a3a3a;
  margin: 1em;
}
.post:nth-child(2n) {
  flex-direction: row-reverse;
  text-align: right;
}
.post .image-wrapper {
  position: relative;
}
.post .image-wrapper img {
  display: block;
  max-height: unset;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.post .content {
  box-sizing: border-box;
  min-width: 50%;
  max-width: 50%;
  padding: 2em 3em;
}

canvas {
  min-width: 300px;
  background-color: black;
  width: 100%;
  height: auto;
}
